In [1]:
import pandas as pd
from stock import*
import akshare as ak

In [66]:
#看所有股票数据
stock_zh_a_spot_df = ak.stock_zh_a_spot()
stock_zh_a_spot_df

Please wait for a moment: 100%|██████████| 54/54 [00:50<00:00,  1.07it/s]

,symbol,code,name,trade,pricechange,changepercent,buy,sell,settlement,open,high,low,volume,amount,ticktime,per,pb,mktcap,nmc,turnoverratio
0,sh600000,600000,浦发银行,10.70,-0.06,-0.558,10.70,10.71,10.76,10.76,10.79,10.68,33911224.0,3.635673e+08,15:00:02,5.691,0.594,3.140679e+07,3.140679e+07,0.11553
1,sh600004,600004,白云机场,13.21,0.07,0.533,13.21,13.22,13.14,13.21,13.31,13.15,6738943.0,8.908492e+07,15:00:27,27.521,1.705,3.126435e+06,2.733572e+06,0.32566
2,sh600006,600006,东风汽车,6.50,0.20,3.175,6.49,6.50,6.30,6.32,6.56,6.31,63012254.0,4.071043e+08,15:00:02,23.483,1.663,1.300000e+06,1.300000e+06,3.15061
3,sh600007,600007,中国国贸,12.07,-0.02,-0.165,12.07,12.09,12.09,12.10,12.14,12.04,747528.0,9.036523e+06,15:00:02,14.720,1.517,1.215790e+06,1.215790e+06,0.07421
4,sh600008,600008,首创股份,3.11,0.02,0.647,3.11,3.12,3.09,3.10,3.12,3.07,41192646.0,1.277912e+08,15:00:27,18.446,1.480,2.282924e+06,2.282924e+06,0.56116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,sz300959,300959,线上线下,71.90,0.02,0.028,71.90,71.91,71.88,71.07,73.14,70.90,3183541.0,2.298382e+08,16:29:00,0.000,13.303,5.752000e+05,1.438000e+05,15.91771
4236,sz300960,300960,通业科技,34.88,0.03,0.086,34.88,34.90,34.85,33.50,35.49,33.12,7735442.0,2.656676e+08,16:29:00,0.000,7.325,3.571217e+05,8.468297e+04,31.86145
4237,sz300961,300961,C深水,37.78,-1.20,-3.079,37.78,37.79,38.98,37.17,43.35,35.98,22990082.0,9.015582e+08,16:29:00,0.000,7.233,6.697638e+05,1.588050e+05,54.69382
4238,sz300965,300965,C恒宇,116.47,-11.91,-9.277,116.46,116.47,128.38,116.00,122.00,113.50,5379332.0,6.283825e+08,16:29:00,0.000,11.912,6.988200e+05,1.747050e+05,35.86221
4239,sz300999,300999,金龙鱼,81.21,-1.59,-1.920,81.21,81.22,82.80,82.79,82.79,79.83,20767069.0,1.679879e+09,16:29:00,67.116,5.271,4.402874e+07,3.003475e+06,5.61514