In [3]:
import pandas as pd
from stock import*
import akshare as ak
from time import sleep

In [4]:
#看所有股票数据
stock_zh_a_spot_df = ak.stock_zh_a_spot()
stock_zh_a_spot_df.to_csv('stock_zh_a_spot_df.csv')

Please wait for a moment: 100%|██████████| 54/54 [00:45<00:00,  1.19it/s]

In [4]:
stock_zh_a_spot_df=pd.read_csv('stock_zh_a_spot_df.csv')
stock_zh_a_spot_df

,Unnamed: 0,代码,名称,最新价,涨跌额,涨跌幅,买入,卖出,昨收,今开,最高,最低,成交量,成交额
0,0,sh600000,浦发银行,10.60,0.10,0.952,10.59,10.60,10.50,10.47,10.61,10.46,33542803.0,3.538973e+08
1,1,sh600004,白云机场,13.12,-0.09,-0.681,13.12,13.13,13.21,13.18,13.18,12.97,7994234.0,1.045192e+08
2,2,sh600006,东风汽车,6.91,-0.17,-2.401,6.91,6.92,7.08,6.80,7.24,6.77,96632022.0,6.692854e+08
3,3,sh600007,中国国贸,12.36,0.02,0.162,12.35,12.36,12.34,12.34,12.49,12.26,379820.0,4.692412e+06
4,4,sh600008,首创股份,3.02,-0.03,-0.984,3.02,3.03,3.05,3.04,3.05,3.01,23876339.0,7.221535e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4266,4266,sz300976,C达瑞,203.66,2.00,0.992,203.52,203.66,201.66,197.00,205.44,192.29,2165138.0,4.322117e+08
4267,4267,sz300977,C瑞捷,92.59,-9.41,-9.225,92.51,92.59,102.00,95.00,99.60,92.24,2415113.0,2.293074e+08
4268,4268,sz300980,N祥源,54.45,21.68,66.158,54.42,54.45,32.77,56.00,66.00,54.00,7156536.0,4.236947e+08
4269,4269,sz300983,C尤安,120.61,-9.45,-7.266,120.61,120.63,130.06,123.00,126.00,120.31,3605567.0,4.390291e+08
4270,4270,sz300999,金龙鱼,75.45,1.03,1.384,75.42,75.45,74.42,73.72,76.49,73.41,16156448.0,1.213218e+09

In [6]:
#stock_list=list(stock_zh_a_spot_df['代码'][0:50])
stock_list=["sz002594","sh603517","sh600031",
            "sz000858","sh603816","sh600690",
            "sh600519","sz002493","sh601318",
            "sz000895","sz002415","sh601021",
            "sz000333","sz300413","sz002332"]
day=70
sharp=[]
for s in stock_list:
    data = ak.stock_zh_a_daily(symbol=s, adjust="qfq")
    k=stock(data,s,day)
    sharp.append(k.sharp_rate)
    sleep(0.1)
sharp

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

[-0.47911347140292554,
 -0.5188049560306213,
 -0.5917367950027362,
 -0.5424675308218047,
 -0.6121060754768808,
 -0.6203006633891904,
 -0.678414687629697,
 -0.5871477297595621,
 -0.8384003878125668,
 -0.6515546136408781,
 -0.5656034024294996,
 -0.6385007909944515,
 -0.6814082719386274,
 -0.4383389766050454,
 -0.5481448460006216]